/*
1. add font family
2. figure out sections
    i. nav bar
    ii. header section
    iii. category section
    iv. footer section
*/

header {
  
  padding: 10px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Search Bar */
form input[type="text"] {
  padding: 5px;
  border: solid blue 1px;
  margin-right: 5px;
}

form button[type="submit"] {
  padding: 5px 10px;
  border: solid blue 2px;
  cursor: pointer;
}
.slideshow {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.slideshow-container {
  display: flex;
  height: 100%;
  width: 400%;
  animation: slide 10s infinite;
}

.slideshow-image {
  height: 100%;
  width: 25%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}
#contact-form {
  max-width: 500px;
  margin: 0 auto;
}
.name{
  display: flex;
  justify-content: space-between;
}


.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.cards{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

section{
  padding: 10px;
}

section > .card{
  border: solid gray 1px;
  margin: 15px;
}
section > p{
  border: solid gray 1px;
}


footer > #contact-form{
  padding: 10px;
}
